@import '../../assets/variable/color-var';

.profile-card {
    display: flex;
    background: #EBECED50;

        .profile-image {
            width: 40%;
            img {
                width: 100px;
            }
        }
        .info-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 60%;
            padding: 10px;
            .info {
                .name-info{
                    font-size: 16px;
                    display: block;
                }
                .sub-info {
                    font-size: 10px;
                    color: $lignt-font-color;
                }
            }
            .details {
                .flex {
                    display: flex;
                } 
                .flex-btw {
                    justify-content: space-between;
                }

                .leave-color {
                    color: $theme-color;
                }
            }
        }

        .fs12 {
            font-size: 12px;
        }
}